<html>
<head> <title> Start </title> </head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<style>
button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #2196F3;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}

body {
    font-family: 'Roboto';font-size: 22px;
}
</style>


{% load static %}
<body style="background-image: url('{% static "background.png" %}');">
		
	<table align=center height=50% width=50% style="border-collapse:separate;border:solid lightgrey 1px;border-radius:6px;-moz-border-radius:6px;box-shadow: 5px 5px 5px #888; background-color: white;">
	<tr>
        <th align=center colspan=2 style="padding:40px;margin: auto;text-align: center;font-size:60px">Add Location Data</th>
    </tr>
	
	<tr>
	<td align=left style="padding:40px;">
	<form method="POST">
		{% csrf_token %}

		
		<label for="phoneno"> Phone Number: </label>
		<br>
		<input type="text" id="phoneno" name="phoneno">
		<br> <br>
		
		<label for="street"> Street: </label>
		<br>
		<input type="text" id="street" name="street">
		<br> <br>
		
		<label for="city"> City: </label>
		<br>
		<input type="text" id="city" name="city">
		<br> <br>
		
		<label for="state"> State: </label>
		<br>
		<input type="text" id="state" name="state">
		<br> <br>
		
		<label for="zipcode"> Zip Code: </label>
		<br>
		<input type="text" id="zipcode" name="zipcode">
		<br> <br>

		<label for="vehicle_class_id"> Vehicle Class: </label>
		<select name="vehicle_class" id = "vehicle_class_id" multiple="multiple">

			{% for entry in v_class %}
    			<option value="{{ entry.class_id }}">{{ entry.class_name }}</option>
			{% endfor %}
<!--				<option value="kprc_individual">Individual</option>-->
<!--				<option value="kprc_corporate">Corporate</option>-->
		</select>
		<br> <br>

		<input type="submit" value="Submit"> </input> 
		
	</form>
	</tr>
		</td>
</table>
	
</body>
</html>