<html>
<head> <title> All Bookings </title> </head>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<style>
button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #2196F3;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;

}

body {
    font-family: 'Roboto';font-size: 22px;
}

table, td, th {
  border: 1px solid black;
}

table {
	border-collapse: collapse;
	width: 100%;
}

</style>


{% load static %}
<body style="background-image: url('{% static "background.png" %}');">



<!--<input type="text" id="total" value="{{ hi }}">-->
	
	<table align=center width=50% style="border-collapse:separate;border:solid lightgrey 1px;border-radius:6px;-moz-border-radius:6px;box-shadow: 5px 5px 5px #888; background-color: white;">

		<thead>
				<tr>
					<th align=center colspan=9 style="padding:40px;margin: auto;text-align: center;font-size:60px">All Bookings</th>
				</tr>
				<tr>
					<th>
						Rental Service ID
					</th>
					<th>
						Customer ID
					</th>
					<th>
						Pickup Location
					</th>
					<th>
						Dropoff Location
					</th>
					<th>
						Pickup Date
					</th>
					<th>
						Dropoff Date
					</th>
					<th>
						Start Odometer
					</th>
					<th>
						End Odometer
					</th>
					<th>
						Vehicle Id
					</th>
				</tr>
		</thead>

		<tbody>


		{%  for entry in rental_data %}

		<tr>
			<td>{{ entry.rental_service_id }}</td>
			<td>{{ entry.cust.cust_id }}</td>
			<td>{{ entry.pickup_location.location_id }}</td>
			<td>{{ entry.dropoff_location.location_id }}</td>
			<td>{{ entry.pickup_date }}</td>
			<td>{{ entry.dropoff_date }}</td>
			<td>{{ entry.start_odometer }}</td>
			<td>{{ entry.end_odometer }}</td>
			<td>{{ entry.vin.vin }}</td>
		</tr>

		{% endfor %}

		</tbody>

	</table>
	
</body>
</html>